.homepage-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.homepage-hero__tagline {
  font-size: var(--font-h3-large);
  line-height: var(--line-height-h4);
  color: var(--dark-text);
  text-align: center;
  margin-top: 0;
}

.homepage-hero__img {
  height: 300px;
  width: 198px;
  margin-left: 1rem;
  flex: 1;
}

.homepage-hero__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.homepage-hero__form--small {
  font-size: 1rem;
  color: var(--accent-text);
  margin: 24px auto;
}

.homepage-hero__form--span {
  font-weight: bold;
}
