.pricing-main {
  text-align: center;
}

.pricing__heading {
  text-align: center;
  font-size: var(--font-h3-large);
  line-height: var(--line-height-h4);
  color: var(--dark-text);
  margin-bottom: var(--spacing-lg);
}

@media (min-width: 768px) {
  .pricing__heading {
    font-size: var(--font-h2);
    line-height: var(--line-height-h2);
    margin-bottom: var(--spacing-xl);
  }
}

@media (min-width: 1200px) {
  .pricing__heading {
    text-align: left;
  }
}

/* Pricing card wrapper */
@media (min-width: 768px) {
  .pricing__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .pricing__wrapper {
    gap: 30px;
    text-align: left;
  }
}

/* Pricing card styles */
.pricing-card {
  margin-bottom: var(--spacing-lg);
}

.pricing-card__heading {
  font-size: var(--font-h4);
  color: var(--primary);
}

@media (min-width: 1200px) {
  .pricing-card__heading {
    font-size: var(--font-h3-large);
    line-height: var(--line-height-h3-large);
    margin-bottom: 16px;
  }
}

.pricing-card__description {
  display: none;
}

@media (min-width: 768px) {
  .pricing-card__description {
    display: block;
    color: var(--accent-text);
  }
}

.pricing-card__price {
  font-size: var(--font-h1);
  color: var(--dark-text);
}

@media (min-width: 768px) {
  .pricing-card__price {
    font-size: var(--font-h2);
  }
}

@media (min-width: 768px) {
  .pricing-card__price {
    font-size: var(--font-h1);
    line-height: var(--line-height-h1-large);
    margin-top: 8px;
    margin-bottom: var(--spacing-xs);
  }
}

.pricing-card__body {
  padding-top: var(--spacing-xs);
  border-top: 1px solid var(--border-color);
  padding-bottom: var(--spacing-xs);
  border-bottom: 1px solid var(--border-color);
}

.pricing-card__list {
  list-style-type: none;
  line-height: var(--line-height-body);
}

.pricing-card__item {
  text-align: left;
  display: grid;
  grid-template-columns: 3.75fr 5fr;
  align-items: baseline;
}

@media (min-width: 1200px) {
  .pricing-card__item {
    grid-template-columns: 0.75fr 5fr;
  }
}

.pricing-card__icon {
  width: 14px;
  height: 11px;
  margin-right: var(--spacing-xs);
  justify-self: flex-end;
}

.pricing-card__item--disabled {
  color: var(--accent-text);
}

.pricing-card__footer {
  padding-top: var(--spacing-xs);
}
