@import url('reset.css');
@import url('config.css');
@import url('utilities.css');
@import url('./components/button.css');
@import url('./components/input.css');
@import url('./components/navigation.css');
@import url('./components/hero.css');
@import url('./components/references.css');
@import url('./components/easy.css');
@import url('./components/simple.css');
@import url('./components/benefits.css');
@import url('./components/ready.css');
@import url('./components/footer.css');

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-background);
  font-family: var(--font-public-sans);
}

p {
  line-height: var(--line-height-body);
}

h1,
h2,
h3 {
  font-family: var(--font-public-sans);
}

/* header background pattern */
.header-wrapper {
  background: url('../../assets/shared/desktop/bg-pattern-circle.svg') no-repeat
    center -32rem;
}

@media (min-width: 768px) {
  .header-wrapper {
    background: url('../../assets/shared/desktop/bg-pattern-circle.svg')
      no-repeat center -24rem;
  }
}

@media (min-width: 1200px) {
  .header-wrapper {
    background: url('../../assets/shared/desktop/bg-pattern-circle.svg')
      no-repeat calc(67% + 425px) -10rem;
  }
}

/* Main background pattern */
@media (min-width: 1200px) {
  .main {
    background: url('../../assets/shared/desktop/bg-pattern-circle.svg')
      no-repeat calc(120% + 425px) 940px;
  }
}

@media (min-width: 1300px) {
  .main {
    background: url('../../assets/shared/desktop/bg-pattern-circle.svg')
      no-repeat calc(106% + 425px) 940px;
  }
}
